body,
h2,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.cadre {
  border: 1px solid #E2E8F0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 1520px;
  height: 60px;
  flex-shrink: 0;
}

.cadre p {
    font-weight: bold;
}


header {
  color: black;
  text-align: center;
  padding: 0px;
}


.cadre ul {
  margin-right: 10px;
  list-style: none;
  margin-top: 20px;
}

.cadre li {
  display: inline;
}

.cadre a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.items {
    justify-content: center;
    align-items: center;
    margin-left: 750px;
    display: flex;
    height: 20px;
    top: 15px;
    font-size: 18px;
    
  }
  .items li a{
    color: #334155;
  }
  .items p{
    color: #334155;
  
  }

  footer {
    background-color: #334155;
    text-align: center;
    width: 100%;
    height: 166px;

  }
  footer li {
    margin-top: 50px;
    list-style: none;
  }

footer ul {
  display: flex;
  gap: 50px;
  justify-content: center;
  color: white;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0em;
}

footer p{
  margin-top: 30px;
  color: #94A3B8;
  font-family: Inter;
  font-size: 17px;
  
}
.page2 {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 20px; 
    height: 100vh; 

  }

  .chercher {
    padding: 20px;
    display: flex;
    gap: 500px;
  }
  
  .chercher input{
    margin-right: 20px;
    width: 220px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #E2E8F0;
    justify-content: center;
    
  }
  main {
    padding-bottom: 900px;
    width: 100%;
  }

  h1{
    margin-left: 10px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #334155;
    }

    .list-item{
        padding: 20px;
    }

    .shop{
        margin-bottom: 10px;
        display: flex;
        gap: 20px;
    }
    .shop p{
        margin-left: 20px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: left;
        color: #64748B;

    }

    .petit-reg1{
        margin-left: 10px;
        width: 80px;
        height: 36px;
        border-radius: 25px;
        background-color: #FACC15;
        
        }
        .petit-reg img {
            max-width: 80%;
           
           }
           

        .rec-cercle1{
            margin-left: 95px;
            margin-right: 10px;
            width: 40px;
          height: 40px;
          border-radius: 25px;
          background-color: #FACC15;
          
          }
          .rec-cercle1 img {
            max-width: 100%;
            margin-top: 6px;
            margin-left: 5px;
          }

          .rectangle2 p{
            margin-bottom: 1px;
            margin-left: 10px;
            font-family: Inter;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: -0.04em;
          color: #475569;
          
          }
          .container1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;
          }
          .title {
            align-items: center;
            margin-left: 10px;
            display: flex;
            gap: 10px;
          }
          span {
          font-size: 24px;
          font-weight: 400;
          color: #f0f0f0;
          }

          .star6 {
            padding-top: 5px;
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 10px;
          }
          .case {
            align-items: center;
            display: flex;
            gap: 10px;
            
          
          }
          
          .rectangle2{
            width: 337px;
            height: 439px;
            top: 56px;
            margin-left: 20px;
            border-radius: 5px;
            background-color: #E2E8F0;
            }
          
            .load{
              width:100%;
              display: flex;
              justify-content: center;
              margin-top: 40px;
            }

            .chercher p{
            color: #475569;
            font-weight: 500;
            }
            .cadre input{ 
                    margin-top: 10px;
                    width: 300px;
                    height: 30px;
                    flex-shrink: 0;
                    left: 99px;
                    border-radius: 8px;
                    border: 2px solid #E2E8F0;
                  }
            

   